:root {
    --header-grey: rgb(152, 152, 153);
    --white: rgb(255,255,255);
    --note: rgb(230, 232, 244);
    --dark-gray: rgb(96, 96, 97);
    --window-gray: rgba(96, 96, 97, 0.7);
    --modal-window: rgba(96, 96, 97,0.8);
    --white-transparent: rgba(255,255,255,0.7);
    --red: rgb(255, 49, 43);
}

* {
    text-transform: capitalize;
    font-family: Arial,Helvetica, sans-serif;
}

body {
    padding: 15px 30px;

}

.notes {
    display: flex;
    flex-direction: column;
}

.table {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-collapse: collapse;
}

.table-header {
    background-color: var(--header-grey);
    width: 100%;
    flex-direction: row;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.addNote {
    width: fit-content;
    padding: 0 5px;
    align-self: end;
}

.note {
    background-color: var(--note);
    width: 100%;
    flex-direction: row;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

td{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-right: 0;
    align-items: center;
}

.circle {
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--dark-gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.circle i {
    width: auto;
}

.actions i{
    margin-right: 5px;
}

.category {
    background-color: var(--note);
    appearance: none;
    border: none;
    color: var(--white);
}

.nameContainer {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-right: 0;
}

.name {
    width: 100px;
    color: var(--white);
    font-size: 1rem;
    height: 18px;
    resize: none;
    border: none;
    overflow: hidden;
    background-color: var(--note);
}

select {
    font-size: 1rem;
}

.modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--window-gray);
}

.modalInner {
    background-color: var(--modal-window);
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #888;
    height: 65%;
    width: 80%;
}

.modalTextArea {
    margin-top: 30px;
    background-color: var(--white-transparent);
    text-transform: none;
    width: 100%;
    height: 80%;
    resize: none;
    border: none;

}

.fa-xmark {
    color: var(--red);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fa-xmark:hover,
.fa-xmark:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}