:root {
    --header-grey: rgb(152, 152, 153);
    --white: rgb(255,255,255);
    --note: rgb(230, 232, 244);
    --dark-gray: rgb(96, 96, 97);
}

* {

    text-transform: capitalize;
    font-family: Arial,Helvetica, sans-serif;
}

body {
    padding: 15px 30px;

}

.notes {
    display: flex;
    flex-direction: column;
}

.table {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-collapse: collapse;
}

.table-header {
    background-color: var(--header-grey);
    width: 100%;
    flex-direction: row;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.addNote {
    width: fit-content;
    padding: 0 5px;
    align-self: end;
}

.note {
    background-color: var(--note);
    width: 100%;
    flex-direction: row;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.circle {
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--dark-gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.circle i {
    width: auto;
}

.actions i{
    margin-right: 5px;
}

.category {
    background-color: var(--note);
    appearance: none;
    border: none;
    color: var(--white);
}

.container {
    display: flex;
}

select {
    font-size: 1rem;
}